.cardContainer{
    display: flex;
    flex-direction: column;
    color: white;
    background-color:rgba(50,50,50,0.8);
    border: 2px solid rgba(255,255,255,1);
    border-radius: 15px;
    padding:20px;
    cursor:pointer;
    transform: translateZ(0);
    transition:transform 0.15s ease-out;
}
.cardContainer:hover{
    transform: scale(1.1);
}