.cardsOrder{
    background-color: red;
    display: flex;
    flex-direction: row;
    background-color:blue;
    border: 2px solid red;
    border-radius: 6px;
    padding:20px;
    cursor:pointer;

}